fastapi
uvicorn[standard]
lightgbm
xgboost
joblib
statsmodels
scikit-learn
pydantic
python-dotenv
psycopg2-binary
psycopg2-pool
pyjwt
cryptography
passlib[bcrypt]
bcrypt
pandas
numpy
huggingface-hub
deepgram-sdk
openai
httpx
